/* General Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../public/2b94a552-33c4-4f27-9916-e643c238fde1.webp') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}


/* Container Styling */
.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

/* Bank Logo */
.bank-logo {
  width: 150px;
  margin-bottom: 20px;
}
/* Gif */
.loading-container {
  width: 500px;
  height: 400px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.loading-gif {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  margin-left: -14.5px;
}
/* Headings */
h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* Input Fields */
input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

/* Buttons */
button {
  width: 85%;
  padding: 10px;
  margin: 5px 0;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background: #218838;
}

/* Select Dropdown */
select {
  width: 85%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Transaction Message */
p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
